html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
}
.root 
{
  width: 100%;
  height: 100%;
  background-color: salmon;

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-end;     /* stick to bottom */
}
.container 
{
	width: 100%;
	height: 100%;
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: repeat(14, minmax(0, 1fr));
	grid-template-rows: repeat(12, minmax(0, 1fr));
	margin-left: auto;
	margin-right: auto;
}
.container .header 
{
  grid-area: 2 / 2 / 5 / 14;
	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	justify-self: auto;
	width: auto;
	height: auto;	
	padding: 0px;
}
.container .character 
{
  grid-area: 2 / 2 / 5 / 14;
	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	justify-self: auto;
	width: auto;
	height: auto;	
	padding: 0px;
}