@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body 
{
  /* ANIMATION CURVES */
  --bounce-ease: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /*COLORS */
  --color-olive: #434106;
  --color-green: #00D700;
  --color-yellow: #FFF600;
  --color-orange: #FF6100;
  --color-blue: #008BF8;
  --color-white: #FFFCD7;

  --color-rgb-orange: rgb(255, 97, 0);
  --color-rgb-blue: rgb(0, 139, 248);
  --color-rgb-green: rgb(0, 215, 0);
  --color-rgba-olive: rgba(67, 65, 6, 0.6);
  --color-rgba-olive-2: rgba(67, 65, 6, 0.9);

  --round-corners: 30px;
  --game-layout-margin: 0.4em;

  --font-size-header: 1.7rem;
  --font-size-body: 1.1rem;

  margin: 0;
  padding: 0;
  height: 100%;
}
p 
{
  font-family: Karla;
  font-size: var(--font-size-body);
}
b {
    font-weight: 900;
}
.root 
{
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-end;     /* stick to bottom */
}

/* DEBUG -------------------------------------------------*/
.debugBar {
  position: fixed; /* Positions relative to the viewport */
  top: 0; /* Aligns to the top edge of the viewport */
  left: 0; /* Aligns to the left edge of the viewport */
  width: 100%; /* Spans the full width of the viewport */
  height: 50px; /* Spans the full height of the viewport */
  z-index: 9999; /* Ensures it's on top of most other elements */
  background-color: rgba(0, 0, 0, 0.5); /* Example: semi-transparent black background */
  display: flex; /* Example: use flexbox for content centering */
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* TITLE SCREEN -----------------------------------------------------------*/
.titleScreen#container 
{
  position: absolute;
	width: 100%;
	height: 100%;

  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8%;
}
.titleScreen#header
{
  position: relative;

  width: 100%;

	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	justify-self: auto;

	padding: 0px;
}
.titleScreen#header img 
{
  width: 100%;
  height: auto;
  display: block;
}
.titleScreen#header .eye
{
  position: absolute;

  height: 50%;
  
  aspect-ratio: 1;
  
  top: 32%;

  display: flex;
  justify-content: center;
  align-items: center;
/*  background-color: black;
  opacity: 0.5;*/
}
.titleScreen#header .eye img
{
  position: relative;

  width: 55%;
  height: 55%;
}
.titleScreen#buttonPlay 
{
  position: relative;

  display: flex;
  justify-content: center;

  width: 10%;
}
.titleScreen#buttonPlay img 
{
  width: auto;
  height: 100%;
  display: block;
}
/* INTRO ANIMATION -----------------------------------------------------------*/
.introAnimation#container 
{
  position: absolute;
  width: 100%;
  height: 100%;

  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8%;
}

.introAnimation .landScape
{
  position: relative;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.introAnimation .portrait
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  gap: 12%;
}


.introAnimation > .container
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introAnimation .line
{
  height: 26%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.introAnimation .landScape .dialogueBoxes
{
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.introAnimation .landScape .characterDialogueBox 
{
  position: relative;
  background-color: var(--color-yellow);
  border-radius: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introAnimation .portrait .characterDialogueBox
{
  position: absolute;
  background-color: var(--color-yellow);
  border-radius: 50px;
  height: 29%;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introAnimation .characterDialogueBox p 
{
  margin-left: 3em;
  margin-right: 3em;
  font-size: var(--font-size-header );
  color: var(--color-olive);
}
.introAnimation .portrait .characterDialogueBox p 
{
  margin-left: 2em;
  margin-right: 2em;
  font-size: var(--font-size-header );
  color: var(--color-olive);
}
.introAnimation .characterDialogueBox img
{
  position: absolute;
  height: 30px;
  bottom: -29px;
}

.introAnimation .landScape .characters
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.introAnimation .landScape .character
{
  position: relative;
  height: 100%;
  width: 170px;
  border-radius: 170px;
  overflow: hidden;
}
.introAnimation .portrait .character
{
  position: absolute;
  height: 100%;
  width: 160px;
  border-radius: 160px;
  overflow: hidden;
}

.introAnimation .character img 
{
  position: absolute;
  z-index: 100;
  width: 130%;
  top: 0%;
}
.introAnimation .landScape .characterBackground 
{
  position: absolute;
  width: 100%;
  height: 170px;
  background-color: var(--color-white);
  border-radius: 170px;
  bottom: 0px;
}
.introAnimation .portrait .characterBackground 
{
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: var(--color-white);
  border-radius: 160px;
  bottom: 0px;
}
/* GAME -----------------------------------------------------------*/
.game#container 
{
  position: absolute;

	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1%;
}

/* HUD---------------------------------------------------------*/
#hud
{
    width: 100%;
    height: 7%;
    padding: 0px;

    display: flex;

    align-self: stretch;
    justify-content: space-between;
    justify-self: auto;
    flex-direction: row;
    align-items: center;

    background-color: var(--color-olive);
    border-radius: var(--round-corners);
}
#hud > #score 
{
  position: relative;
  width: 15%;
  height: 75%;
  display: flex;
  padding-left: 4%;
  align-items: center;
}
#hud > #score p
{
  font-size: 1.4em;
  color: var(--color-yellow);
  font-weight: 800;
}
#hud > #score img
{
  width: auto;
  height: 60%;
  margin-right: 10px;
}
#hud > #header 
{
  width: 40%;
  height: 75%;
  display: flex;
}
#hud > #header img
{
  width: 100%;
  height: auto;
}
#hud > #level
{
  height: 100%;
  width: 15%;
  display: flex;
  padding-right: 4%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#hud > #level p
{
  font-size: 1.2em;
  color: var(--color-white);
  font-weight: 800;
}
#hud > #level > #goalLevel
{
  color: var(--color-yellow);
  margin-right: 10px;
}
#levelIcon
{
  padding-left: 10%;
  height: 65%;
  display: flex;
}
#level > .character-portrait
{
  position: relative;
  height: 70%;
  margin-bottom: 8px;
  width: 40%;
  border-radius: 250px;
  overflow: hidden;
}
#level > .character-portrait img 
{
  z-index: 10;
  position: absolute;
  width: 150%;
}
#level .characterBackground 
{
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-color: #fff600;
  border-radius: 200px;
  bottom: 0%;
}
#gainScore 
{
  position: absolute;
  width: 90px;
  height: 35px;
  display: flex;
  left: 30%;
  bottom: -55%;
  z-index: 999;

  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
#gainScore.show {
  opacity: 1;
  transform: translateY(0);
}
#gainScore.exit {
  opacity: 0;
  transform: translateY(-20px);
}
#gainScore.hidden {
  display: none;
}
#gainScore > div
{
  background-color: var(--color-green);
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#gainScore p 
{
  font-size: 1.4em;
  color: var(--color-yellow);
  font-weight: 800;
}
/* HUD---------------------------------------------------------*/

#gamePanel 
{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: var(--color-white);
  border-radius: var(--round-corners);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
#layoutGame 
{
  position: relative;
  width: 85%;
  height: 94%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#answerAnimation 
{
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-color: var(--color-orange);
}
#answerAnimationCharacter 
{
  position: absolute;
  height: 300%;
  top: -30%;
  left: -5%;
}
#answer-animation-header
{
  position: absolute;
  width: auto;
  height: 10%;
  bottom: 12%;
  right: 6%;
}
#answer-animation-header *
{
  position: relative;
  width: auto;
  height: 100%;
}
/* QUESTION ELEMENTS ----------------------------------------------------------------------------------------------- */
#question-container 
{
  position: relative;
  width: 100%;
  height: 85%;
}

#question-type-a
{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-content: space-around;
  justify-self: auto;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}
#question-type-a .question-header
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  margin-bottom: 3%;
}
#question-type-a .question-header img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: var(--color-olive);
  border-radius: 100%;
}
#question-type-a .question-profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: center;
  margin-left: 2%;
  gap: 8%;
}
#question-type-a .question-profile h3 {
  font-family: Karla;
  font-weight: 700;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  margin: 0px;
}
#question-type-a .question-profile p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  opacity: 0.6;
  margin: 0px;
}
#question-type-a .question-content
{
  display: flex;
  width: 100%;
  height: 87%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#question-type-a .question-image {
  width: 100%;
  height: 60%;
}
#question-type-a .question-image img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  background-color: var(--color-olive);
  border-radius: var(--round-corners);
}
#question-type-a .question-image p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  opacity: 0.6;
  text-align: end;
  margin-bottom: 0;
  margin-right: 0.7em;
  margin-top: 0.7em;
}
#question-type-a .question-body{
  height: 40%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#question-type-a .question-body h3 {
  font-family: Karla;
  font-weight: 700;
  color: var(--color-olive);
  font-size: var(--font-size-header);
  margin-bottom: 0px;
}
#question-type-a .question-body p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
}

/* QUESTION ELEMENTS ----------------------------------------------------------------------------------------------- END */

/* BOTTOM BUTTONS ELEMENTS ----------------------------------------------------------------------------------------------- */

.game#multipleChoice 
{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 8%;

  display: flex;
  align-self: stretch;
  justify-content: space-between;
  justify-self: auto;
  flex-direction: row;
  align-items: center;
}
.game .option 
{
  position: relative;
	display: flex;
  justify-content: center;
  align-items: center;

  width: 26%;
  height: 100%;

  background: none;
  border: none;
}

/* BOTTOM BUTTONS ELEMENTS ----------------------------------------------------------------------------------------------- END */

/* SUBQUESTION ELEMENTS ----------------------------------------------------------------------------------------------- */
#subQuestions
{
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-olive);
  border-radius: var(--round-corners);
}
#subQuestions-container
{
  width: 80%;
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#subQuestions-header
{
  height: 25%;
}
#subQuestions-header h3
{
    font-family: Karla;
    font-weight: 700;
    color: var(--color-white);
    font-size: var(--font-size-header);
    margin-bottom: 0px;
    text-align: center;
}
#subQuestions-options
{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game .option2 
{
  position: relative;
  display: flex;
  width: 100%;
  padding: 2%;

  background-color: var(--color-white);
  border-radius: var(--round-corners);

  border: none;

  box-shadow: 0 0 0 0.0em var(--color-green);
}
.game .option2 p
{
  width: 80%;
}
.option2 .wrong-answer-circle 
{
  position: absolute;
  top: -20px;
  right: 30px;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
}
.option2 .wrong-answer-circle img:nth-of-type(1)
{
  position: absolute;
  width: 100%;
  height: 100%;
}
.option2 .wrong-answer-circle img:nth-of-type(2)
{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  right: 20%;
}
/* SUBQUESTION ELEMENTS ----------------------------------------------------------------------------------------------- END */

/* END SCREEN ------------------------------------------------------------------------------------------------------------------ */
.endScreen#container 
{
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
}
.endScreen .logo
{
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.endScreen .logo img
{
  width: 60%;
}
.endScreen #results
{
  position: relative;
  border-radius: var(--round-corners);
  background-color: var(--color-olive);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.endScreen #results .your-score 
{
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.endScreen #results .your-score .header
{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-transform: uppercase;
  font-family: Karla;
  font-weight: 800;
  color: var(--color-white);
  font-size: calc(var(--font-size-header) * 1.5);
  margin: 0px;
}
.endScreen #results .your-score .final-score
{
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;

  text-transform: uppercase;
  font-family: Karla;
  font-weight: 800;
  color: var(--color-yellow);
  font-size: calc(var(--font-size-header) * 3);
  margin: 0;
}
.endScreen #results .your-score .final-score img
{
  height: 60%;
}
.your-score .header p {
  font-size: calc(var(--font-size-header) * 1.5) !important;
}
.your-score .final-score p {
  font-size: calc(var(--font-size-header) * 3) !important;
}
.endScreen .dialogue
{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.character-dialogue 
{
  position: relative;
}

.character-portrait-wrapper
{
  position: absolute;
  width: 180px;
  aspect-ratio: 1 / 1.23;
}
.character-portrait
{
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1.23;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 300px;
  left: 0;

  transform: scale(0);
  transition:
    transform 0.2s var(--bounce-ease);
}
.character-portrait.show
{
  transform: scale(1);
}
.character-portrait .characterBackground 
{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
}
.character-portrait img
{
  position: absolute;
  width: 170%;
  top: 5%;
  z-index: 10;
}

.character-bubble-space 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform-origin: bottom left;

  transform: scale(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.character-bubble-space.show 
{
  transform: scale(1);
}

.character-bubble 
{
  position: relative;
  border-radius: var(--round-corners);
  height: calc(var(--round-corners) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.character-bubble-wrapper
{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.character-bubble p 
{
  margin-inline: 30px;
  text-align: center;
}
.character-bubble-arrow-wrapper
{
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
  transform: translateY(99%);
}
.character-bubble img 
{
  width: 100%;
  height: auto;
}
/* END SCREEN ------------------------------------------------------------------------------------------------------------------ */
#answerAnim 
{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 35%;

  display: none;

  background-color: darkgreen;

  animation-name: appearScale;
  animation-duration: 0.3s;
  animation-timing-function: var(--bounce-ease);
}
#answerAnim > p 
{
  position: absolute;

  color: whitesmoke;

  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: easeOut;
  animation-iteration-count: infinite;
}

/* UTILS -----------------------------------------------------------*/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* ANIMATIONS DEFS --------------------------------------------------------*/

@keyframes appearScale{
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes slide {
  /* Start position */
  from {
    left: 0;
    transform: translateX(0);
  }
  /* End position */
  to {
    /* Moves the left edge to the rightmost side of the parent */
    left: 100%;
    /* Pulls the element back by its own full width, so it stays inside the parent's boundary */
    transform: translateX(-100%); 
  }
}