@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body 
{
  /* ANIMATION CURVES */
  --bounce-ease: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /*COLORS */
  --color-olive: #434113;
  --color-green: #39d32f;
  --color-yellow: #fff749;
  --color-orange: #ff6e10;
  --color-blue: #0388f0;
  --color-white: #fffcd7;

  --round-corners: 30px;
  --game-layout-margin: 0.4em;

  --font-size-header: 1.3em;
  --font-size-body: 1em;

  margin: 0;
  padding: 0;
  height: 100%;
}
p 
{
  font-family: Karla;
}
.root 
{
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-end;     /* stick to bottom */
}

/* DEBUG -------------------------------------------------*/
.debugBar {
  position: fixed; /* Positions relative to the viewport */
  top: 0; /* Aligns to the top edge of the viewport */
  left: 0; /* Aligns to the left edge of the viewport */
  width: 100%; /* Spans the full width of the viewport */
  height: 50px; /* Spans the full height of the viewport */
  z-index: 9999; /* Ensures it's on top of most other elements */
  background-color: rgba(0, 0, 0, 0.5); /* Example: semi-transparent black background */
  display: flex; /* Example: use flexbox for content centering */
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* TITLE SCREEN -----------------------------------------------------------*/
.titleScreen#container 
{
  position: relative;
	width: 100%;
	height: 100%;

  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8%;
}
.titleScreen#header
{
  position: relative;

  width: 100%;

	display: flex;
	align-self: stretch;
	justify-content: flex-start;
	justify-self: auto;

	padding: 0px;
}
.titleScreen#header img 
{
  width: 100%;
  height: auto;
  display: block;
}
.titleScreen#header .eye
{
  position: absolute;

  height: 50%;
  
  aspect-ratio: 1;
  
  top: 32%;

  display: flex;
  justify-content: center;
  align-items: center;
/*  background-color: black;
  opacity: 0.5;*/
}
.titleScreen#header .eye img
{
  position: relative;

  width: 55%;
  height: 55%;
}
.titleScreen#buttonPlay 
{
  position: relative;

  display: flex;
  justify-content: center;

  width: 10%;
}
.titleScreen#buttonPlay img 
{
  width: auto;
  height: 100%;
  display: block;
}
/* GAME -----------------------------------------------------------*/
.game#container 
{
  position: relative;

	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1%;
}
#hud
{
    width: 100%;
    height: 7%;
    padding: 0px;

    display: flex;

    align-self: stretch;
    justify-content: space-between;
    justify-self: auto;
    flex-direction: row;
    align-items: center;

    background-color: var(--color-olive);
    border-radius: var(--round-corners);
}
#hud > #header 
{
  width: 43%;
  height: 75%;
  display: flex;

  padding-left: 4%;
}
#hud > #header img
{
  width: 100%;
  height: auto;
}
#hud > #score
{
  height: 100%;

  display: flex;
  padding-right: 4%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#hud > #score p
{
  font-size: 1.2em;
  color: var(--color-white);
  font-weight: 800;
}
#hud > #score > #goalScore
{
  color: var(--color-yellow);
}
#scoreIcon
{
  padding-left: 10%;
  height: 65%;
  display: flex;
}
#hud > #score img
{
  height: auto;
  width: 100%;
  color: var(--color-yellow);
}

#gamePanel 
{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: var(--color-white);
  border-radius: var(--round-corners);

  display: flex;
  justify-content: center;
  align-items: center;
}
#layoutGame 
{
  position: relative;
  width: 85%;
  height: 94%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* QUESTION ELEMENTS ----------------------------------------------------------------------------------------------- */
#question-container 
{
  position: relative;
  width: 100%;
  height: 85%;
}

#question-type-a
{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-content: space-around;
  justify-self: auto;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}
#question-type-a .question-header
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  margin-bottom: 3%;
}
#question-type-a .question-header img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: var(--color-olive);
  border-radius: 100%;
}
#question-type-a .question-profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  margin-left: 2%;
  gap: 8%;
}
#question-type-a .question-profile h3 {
  font-family: Karla;
  font-weight: 700;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  margin: 0px;
}
#question-type-a .question-profile p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  opacity: 0.6;
  margin: 0px;
}
#question-type-a .question-content
{
  display: flex;
  width: 100%;
  height: 87%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#question-type-a .question-image {
  width: 100%;
  height: 50%;
}
#question-type-a .question-image img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  background-color: var(--color-olive);
  border-radius: var(--round-corners);
}
#question-type-a .question-image p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
  opacity: 0.6;
  text-align: end;
  margin-bottom: 0;
  margin-right: 0.7em;
  margin-top: 0.7em;
}
#question-type-a .question-body{
  height: 50%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1%;
}
#question-type-a .question-body h3 {
  font-family: Karla;
  font-weight: 700;
  color: var(--color-olive);
  font-size: var(--font-size-header);
  margin-bottom: 0px;
}
#question-type-a .question-body p {
  font-family: Karla;
  font-weight: 400;
  color: var(--color-olive);
  font-size: var(--font-size-body);
}

/* QUESTION ELEMENTS ----------------------------------------------------------------------------------------------- END */

.game#multipleChoice 
{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 8%;

  display: flex;
  align-self: stretch;
  justify-content: space-between;
  justify-self: auto;
  flex-direction: row;
  align-items: center;
}
.game .option 
{
  position: relative;
	display: flex;
  justify-content: center;
  align-items: center;

  width: 26%;
  height: 100%;

  background: none;
  border: none;
}

.game#mulChoicePart2 
{
  position: absolute;
  top: 30%;
  width: 100%;
  height: 40%;

  display: none;
  align-self: stretch;
  justify-content: space-evenly;
  justify-self: auto;
  flex-direction: column;
  align-items: center;
}
#mulChoice2Question
{
  color: whitesmoke;
}
.game .option2 
{
  display: flex;
  width: 70%;
  height: 15%;
}

#answerAnim 
{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 35%;

  display: none;

  background-color: darkgreen;

  animation-name: appearScale;
  animation-duration: 0.3s;
  animation-timing-function: var(--bounce-ease);
}
#answerAnim > p 
{
  position: absolute;

  color: whitesmoke;

  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: easeOut;
  animation-iteration-count: infinite;
}

/* UTILS -----------------------------------------------------------*/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* ANIMATIONS DEFS --------------------------------------------------------*/

@keyframes appearScale{
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes slide {
  /* Start position */
  from {
    left: 0;
    transform: translateX(0);
  }
  /* End position */
  to {
    /* Moves the left edge to the rightmost side of the parent */
    left: 100%;
    /* Pulls the element back by its own full width, so it stays inside the parent's boundary */
    transform: translateX(-100%); 
  }
}